@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import 'tailwindcss';
@import './colors.css';

@layer base {
  body {
    @apply bg-background text-normal min-h-screen antialiased tracking-tight;
  }
}

@layer components {
}

@layer utilities {
}

@theme inline {
  --container-max-width: 1200px;

  --color-primary: var(--color-blue);
  --color-secondary: var(--color-sky);
  --color-tertiary: var(--color-slate);

  --color-accent: var(--color-peach);

  --color-normal: var(--color-text);
  --color-muted: var(--color-subtext0);

  --color-background: var(--color-base);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@source inline('{sm:,md:,lg:,xl:,}grid-cols-{1,2,3,4}');
@source inline('{md:,}grid-cols-[25%_75%]');
@source inline('{md:,}grid-cols-[1fr_3fr]');
@source inline('{md:,}grid-cols-[75%_25%]');
@source inline('{md:,}grid-cols-[3fr_1fr]');
@source inline('{sm:,md:,lg:,xl:,}order-{1,2}');
